<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>H</title>
	<style type="text/css">
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#head {
	height: 100px;
	background: #ddd;
	position: relative;
	z-index: 1;
}
#body {
	background: #eee;
	width: 100%;
	min-height: 100%;
	margin: -100px 0 /*-50px 0*/;
	position:absolute;
	top:25px;
	bottom:0px;
	overflow: auto;
}
* html #body {
	/*height: 100%;*/
}
#content-area {
	padding: 100px 0 50px;
}
/*#foot {
	height: 50px;
	background: #ddd;
	}*/
	</style>
</head>
<body>
	<div id="head">
		요건 100px 높이 헤드
	</div>
	<div id="body">
		<div id="content-area">
			<p>컨텐츠 영역 1</p>
			<p>컨텐츠 영역 2</p>
			<p>컨텐츠 영역 3</p>
			<p>(계속 추가해서 테스트 가능1)</p>
			<p>(계속 추가해서 테스트 가능2)</p>
			<p>(계속 추가해서 테스트 가능3)</p>
			<p>(계속 추가해서 테스트 가능4)</p>
			<p>(계속 추가해서 테스트 가능5)</p>
			<p>(계속 추가해서 테스트 가능6)</p>
			<p>(계속 추가해서 테스트 가능7)</p>
			<p>(계속 추가해서 테스트 가능8)</p>
			<p>(계속 추가해서 테스트 가능9)</p>
			<p>(계속 추가해서 테스트 가능0)</p>
			<p>(계속 추가해서 테스트 가능1)</p>
			<p>(계속 추가해서 테스트 가능2)</p>
			<p>(계속 추가해서 테스트 가능3)</p>
			<p>(계속 추가해서 테스트 가능4)</p>
			<p>(계속 추가해서 테스트 가능5)</p>
			<p>(계속 추가해서 테스트 가능6)</p>
			<p>(계속 추가해서 테스트 가능7)</p>
			<p>(계속 추가해서 테스트 가능8)</p>
			<p>(계속 추가해서 테스트 가능9)</p>
			<p>(계속 추가해서 테스트 가능0)</p>
			<p>(계속 추가해서 테스트 가능1)</p>
			<p>(계속 추가해서 테스트 가능2)</p>
			<p>(계속 추가해서 테스트 가능3)</p>
			<p>(계속 추가해서 테스트 가능4)</p>
			<p>(계속 추가해서 테스트 가능5)</p>
		</div>
	</div>
<!--div id="foot">
	요건 50px 높이 풋
</div-->
</body>
</html>